.venv/
venv/
auth_app/__pycache__/
cafe/__pycache__/
CafeShop/__pycache__/
auth_app/migrations/__pycache__/
cafe/migrations/__pycache__/

account/__pycache__/
account/__pycache__/views.cpython-311.pyc
