{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block body %}
{% load filters %}

<!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed sbar-open" id="container">

    {% include 'dashboard/sidebar.html' %}
     
        <div class="container-xxl py-5 mb-5">
          <div class="container my-5 py-5">
             <div class="p-5 wow " data-wow-delay="0.2s">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">NEW  ITEM</h5>
                    
                    <form method="post">{% csrf_token %}
                        <div class="row g-3">
                            {% for i in form %}
                            <div class="col-md-6">
                                {% if i.html_name != "description" and i.html_name != "available"  %}
                                <h6 class="text-white">{{i.html_name}} :</h6>
                                {{i}}
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="col-md-6">
                               
                                <h6 class="text-white">{{form.available.html_name}} :</h6>
                                {{form.available}}
                                
                            </div>
                            <div class="col-md-6">
                               
                                <h6 class="text-white">{{form.description.html_name}} :</h6>
                                {{form.description}}
                                
                            </div>
                            
                            <div class="col-12">
                                <input type="submit" value="Confirm" class="btn btn-primary w-100 py-3">
                            </div>
                        </div>
                    </form>
                </div>
          </div>
    </div>

{% endblock body %}