{% extends "base1.html" %}
{% load static %}
{% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">

           {% include "navbar.html" %}

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Food Menu</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
    
      

        <!-- Menu Start -->
        <div class="container-xxl py-4">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                    <div class="input-group d-flex justify-content-center mb-0">
                        
                        <div class="form-outline py-1" data-mdb-input-init>
                            <form action="" method="get" class="input-group d-flex justify-content-center mb-3">
                                
                            <input type="search" name="search" class="form-control" placeholder="Search" />
                            <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                                <i class="fas fa-search"></i>
                            </button></div>
                        </form></div>
                        <div>
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                    <h1 class="mb-5">Categories</h1>
                </div>
                    </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        {% for c in categories %}
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active"  href="{{ c.get_absolute_url }}">
                                
                                <div class="ps-3">
                                    {% comment %} <small class="text-body">Popular</small> {% endcomment %}
                                    <h6 class="mt-n1 mb-0">{{ c.name }}</h6>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="menu">
                        <form name="counter" action="#menu" method="post">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for product in object_list %}
                                    <div class="col-lg-6">
                                    <div class="d-flex align-products-center">
                                        
                                        <img class="flex-shrink-2 img-thumbnail mb-2  rounded" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="" style="width: 70px;">
                                        </a>
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ product.name }}</span>
                                                <span class="text-primary">${{ product.price }}</span>
                                            </h5>
                                            <div class= ' d-flex flex-row-reverse ' >
                                                                        <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary justify-content-left btn-sm" data-bs-toggle="modal" data-bs-target="#{{product.name}}Modal">
                                            Add to cart 
                                            </button>
                                            </div>
                                        </div>  

                                            <!-- Modal -->
                                            <div class="modal fade {{product.name}}" id="{{product.name}}Modal" tabindex="-1" aria-labelledby="{{product.name}}Label" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="{{product.name}}Label">{{ product.name }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{product.description}}
                                                </div>
                                                <form class=" mb-4 pb-2"  method="post">
                                                {{ form.as_p }}
                                                <input type="hidden" name="product_id" value="{{product.id}}">
                                                {% csrf_token %}
                                                <span>Price: {{ product.price }}</span>
                                                </br></br>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button href={% url 'shop:productlist' 'all' %} type="submit" class="btn btn-primary">Add to cart</button>
                                                </div>
                                                </form>
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                                 {% endfor %}
                            </div>
                        
                          <!-- Menu End -->
    {% endblock content %}
