<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>
        <div>
          <h3>food name</h3>
          <h5>food details</h5>
        </div>
        <img src="2.jpeg" alt="" />
      </div>
      <h4>price</h4>
      <button type="submit">plus</button>
      <h5>counter</h5>
      <button type="submit">reduce and delet</button>
    </div>
    <div>
      <h3>totall price</h3>
      <button type="submit">next</button>
    </div>
  </body>
</html>
