{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-xxl position-relative p-0 ">
    {% include "navbar.html" %}
    <div class="container-xxl py-5 bg-dark  mb-5">

        
        <div class="container my-5 py-5">
          <table class="table table-dark table-striped">
              <thead>
                <tr>
                  <th scope="col">list</th>

                  
                </tr>
              </thead>
              <tbody>
               
                 {% for category in object_list %}
                    <tr>

                        <th scope="row"><a href={% url 'categoriesview' category.id %}>Edit</a></th>
                        <td>{{category.name}}</td>

                         
                        </td>
                       
                        {% endfor %}
                        <input class="btn btn-primary py-sm-1 px-sm-3 me-4 m-2 " type="submit" value="update"> 
                        </form>
                        <a href={% url "dashboard" %} class="btn btn-primary py-sm-1 px-sm-3 me-4 m-2 " >Back to Dashboard</a>
                         
                
              </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

  <div class="m-2">
      
  </div>
</div>



{% endblock content %}