{% extends "base1.html" %}
{% load static %}
{% block content %}


<div class="container-xxl position-relative p-0 ">
    {% include "navbar.html" %}
    <div class="container-xxl py-5 bg-dark  mb-5">

        
        <div class="container my-5 py-5">
          <table class="table table-dark table-striped">
              <thead>
                <tr>
                  
                  <th scope="col">Name</th>

                </tr>
              </thead>
              <tbody>
                <form  method="post" enctype="multipart/form-data">{% csrf_token %}
                        <tr >
                               
                                 <td>
                                        {{ form.errors.as_ul }}
                                        {{ form.name}}
                                </td>
                                <td>
                                    <input type="submit" value="Update" class="btn btn-primary py-sm-1 px-sm-3 me-4 w-100 py-3">
                                </td>
                            
                        </tr>
 
                        </form>
                        <a href={% url "dashboard" %} class="btn btn-primary py-sm-1 px-sm-3 me-4 m-2 " >Back to Dashboard</a>
              </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->

  <div class="m-2">
      
  </div>
</div>



{% endblock content %}